* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --Background: #1A1D23;
  --Heading: #F8F8F8;
  --Highlight: #FF57B2;
  --Info: #BBBBBB;
  --Body: #D7D7D7;
}

a, section {
  cursor: pointer;
}

a {
  font-weight: 600;
  color: var(--Highlight)
}